<div *ngIf="!isLoading">
    <div>
        <img [src]="product.image" [alt]="product.title" />
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price | currency }}</li>
        </ul>
        <p>{{ product.description }}</p>
    </div>
    <button (click)="createProduct()">Create product</button>
    <button (click)="updateProduct()">Edit product</button>
    <button (click)="deleteProduct()">Delete product</button>
</div>
<h2 *ngIf="isLoading">Loading...</h2>
