* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
    font-size: 1.6rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20px;
}
.container-routes {
    margin: 20px auto;
    width: 100%;
    max-width: 1110px;
}

@media (min-width: 576px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
